.customer-main-container {
  display: flex;
  padding: 2%;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.customer-header {
  display: -webkit-box;
  color: white;
  font-size: 40px;
}

.customer-icon {
  padding-left: 5%;
  align-self: center;
}

.customer-input-container {
  background-color: #2a2421;
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.customer-input-group .ant-input-disabled {
  background-color: rgb(199, 199, 199) !important;
  border-color: rgb(199, 199, 199) !important;
  color: rgb(61, 58, 58);
}

.customer-input-block .ant-input-number-disabled {
  background-color: rgb(199, 199, 199) !important;
  border-color: rgb(199, 199, 199) !important;
  color: rgb(61, 58, 58);
}

.customer-input-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  gap: 20px;
}

.customer-row-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.customer-input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.customer-input-block label {
  font-size: 16px;
  font-family: 'bahnschrift';
  color: white;
}

.customer-table {
  background-color: #2a2421;
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
