.category-main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.categpry-main-header {
  font-size: 40px;
  color: white;
}

.category-main-container p {
  color: white;
  font-size: 18px;
}

.body-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.category-body {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.category-main-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2a2421;
  padding: 50px;
  gap: 40px;
  align-items: flex-start;
  border-radius: 30px;
}

.main-category-input {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-category-input label {
  color: white;
  font-size: 16px;
  width: 30%;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

.body-container svg {
  color: black;
}

.body-container .ant-pagination {
  margin: 0px !important;
  padding: 16px !important;
  background-color: white !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
