.change-pass-main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.change-pass-main-container p {
  color: white;
  font-size: 18px;
}

.change-pass-header {
  display: flex;
  width: 100%;
  color: white;
  font-size: 32px;
  justify-content: center;
  gap: 20px;
}

.changePass-block {
  margin-top: 30px;
  display: flex;
  width: 40%;
  background-color: #2a2421;
  padding: 30px;
  border-radius: 6px;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.username-input {
  height: 32px;
  display: flex;
  gap: 20px;
  width: 100%;
}

.username-input label {
  width: 30%;
  font-size: 16px;
  color: gray;
  font-weight: 700;
}

.username-input :disabled {
  color: white;
  height: 32px;
  border: solid 2px #181818;
  background-color: #181818;
}

.pass-buttton-container {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
